
p{
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3{
    font-family: "Rye", serif;
    margin-top: 0.5em;
}

/*Interacción en links del nav*/
nav a:link {color: white;}
nav a:hover {background-color: blue;}
nav a:visited {color: grey;}

footer{
    font-family: "Montserrat", sans-serif;
   text-align: center;
   margin-top: 2em;
}


/*Ancho de video de yourtube*/

#videoestilo{
    width: 100%;
}

/*Diseño de las cards*/
#cards {
    background-color: grey;
    width: 18rem;
    margin: 2em;
    border: gray; 
}

#cards a {
    color: white; 
}

/*Interacción en las imagenes*/

.imginteraccion:hover{
        transform: scale(1.1);
        transition:4s;
        /*Cada vez que se pase el mouse se agranda, en 4 segundos*/
    }


 /*Diseño página index de historia bzrp*/
    /*Video de youtube*/
    #videoyoutube{
        margin-top: -8em;
    }


/*Ajustar estilo a fotos colaboraciones*/
#fotoscolaboraciones{
    display: inline-block;
    padding: 1em;
}

/*Diseño de botones del form*/
#preguntasform button {
    margin: 0.5em;
}



/*RESPONSIVE PARA EL CELULAR*/

/*Ocultar el menu de la compu en el celu*/
@media (max-width:480px){
    #menucompu{
    display: none;    
    }

    /*Diseño página index de historia bzrp*/
    /*Video de youtube*/
    #videoyoutube{
        width: 100%;
        margin-top: 1em;

    }


    /*El apartado de combos locos no aparece en la versión del celu*/
    #comboslocos{
        display: none;

    }

}

