
p{
    font-family: "Montserrat", sans-serif;
}

h1, h2{
    font-family: "Rye", serif;
    margin-top: 0.5em;
}

/*Interacción en links del nav*/
nav a:link {color: white;}
nav a:hover {background-color: blue;}
nav a:visited {color: grey;}

footer{
    font-family: "Montserrat", sans-serif;
   text-align: center;
   margin-top: 2em;
}

/*Ocultar el menu de la compu en el celu*/
@media (max-width:480px){
#menucompu{
    display: none;
}
}


